---
import GlobalLayout from '../layouts/GlobalLayout.astro'
---

<GlobalLayout title='Blog Home'>
  <p>Welcome to the blog! Here are some posts:</p>
  <ul>
    <li>
      <a href='/posts/post-1'>Post 1</a>
    </li>
    <li>
      <a href='/posts/post-2'>Post 2</a>
    </li>
    <li>
      <a href='/posts/post-3'>Post 3</a>
    </li>
  </ul>
</GlobalLayout>

<style>
  h1 {
    color: rgb(var(--accent));
  }
</style>
