---
import '../styles/global.css'

interface Props {
  navLinks: { href: string; text: string }[]
}

const { navLinks } = Astro.props
---

<nav>
  <div class='nav-links'>
    {navLinks.map(link => <a href={link.href}>{link.text}</a>)}
  </div>
</nav>
